In [ ]:
import numpy as np
from scipy import spatial
import matplotlib.pyplot as plt
# from sklearn.manifold import TSNE
import nltk
from nltk.corpus import wordnet as wn
from functools import reduce
from collections import OrderedDict
from itertools import permutations, combinations, chain
import time
import re
import nltk
from nltk.corpus import wordnet
from google.colab import drive
import pandas as pd 
import gensim


from gensim.models import Word2Vec
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [ ]:
nltk.download('wordnet')
import nltk
nltk.download('omw-1.4')
!pip install compound-word-splitter
!pip install openai
!pip install wordninja
!pip install --upgrade gensim
!pip install hyphenate

In [ ]:
import pandas as pd
import re
import sys
import os
import openai
import wordninja



df=pd.read_csv('gdrive/My Drive/NIER-ICSE/data/test/seqConcepts.csv')
data=''
for i, row in df.iterrows():
  data= data+ '\n' + str(row['sequence']).strip('{}')+ '.'



def interceptList(EdConcepts):
    allCouples = [(a, b) for idx, a in enumerate(EdConcepts) for b in EdConcepts[idx + 1:]]

    return allCouples


def removeLetter(TheList):
    for ind, j in enumerate(TheList):

        if len(j) == 1:
            TheList.remove(j)
    return TheList


def removeDuplicated(TheList):
    for ind, j in enumerate(TheList):
        for indx, i in enumerate(TheList[ind + 1:]):
            if i.lower() == j.lower():
                TheList.remove(j)
    return TheList


def retrieveConcepts(res):
    S = re.sub(r'\W+', ' ', res)
    FirstSet = S.split(' ')
    NewConcepts = wordninja.split(S)
    NewConcepts.extend(FirstSet)
    NewConcepts = ' '.join(NewConcepts).split()
    concepts = set(NewConcepts)
    concepts = list(concepts)
    concepts = removeLetter(concepts)
    concepts = removeDuplicated(concepts)

    return concepts

def predictFinalList(designList_):
    Prompt = 'Continue the line: \n ' + data + '\n' + str(designList_) + ','

    response_ = openai.Completion.create(
        engine="text-davinci-002",
        prompt=Prompt,
        temperature=0.7,
        max_tokens=15,
        top_p=1,
        frequency_penalty=0,
        presence_penalty=0
    )

    res_ = response_.choices[0].text
    concepts = retrieveConcepts(str(designList_) + ',' + res_)

    return concepts, res_

In [ ]:
data

"\n[['Customer', 'ContactMethod'], ['Bank', 'Customer'], ['Bank', 'Party'], ['Bank', 'account']].\n[['Saving', 'Customer'], ['Loan', 'Customer'], ['Customer', 'Financial_Representative']].\n[['Customer', 'Person'], ['Customer', 'PaymentDetails'], ['Customer', 'Person']].\n[['ActualAmountEntry', 'Category'], ['ActualTransactionEntry', 'Category'], ['BudgetFactorEntry', 'Category']].\n[['Company', 'Visitable'], ['Employee', 'Visitable'], ['Company', 'Department']].\n[['Family', 'Person'], ['mother', 'father'], ['daughter', 'Family']].\n[['Member', 'Family'], ['Member', 'Family'], ['Family', 'Member']].\n[['Family', 'NamedElement'],['father','mother']].\n[['Nurse', 'Staff'], ['Department', 'Room'], ['Nurse', 'patient'],['Nurse','department']].\n[['Addon', 'Costable'], ['visitor', 'Costable'], ['Room', 'Costable']].\n[['CirculatingItem', 'Borrower'], ['AudioVisualItem', 'Borrower'], ['Library', 'Borrower']].\n[['Male', 'Person'], ['Female', 'Person'],['Female','Male']].\n[['Airport', 'City'], ['SpecificFlight', 'GeneralFlight'], ['Airport', 'City'],['passenger', 'plane'],['trip','passenger']].\n[['Family', 'FamilyMember'], ['FamilyRegister', 'Family'], ['Family', 'FamilyMember']].\n[['university', 'department'], ['professor', 'department'], ['student', 'course'],['professor', 'course']]."

# K=1

In [ ]:
if __name__ == '__main__':


    args = sys.argv[1:]

    concepts, res_ = predictFinalList(args)
    for i in concepts:
        print(i)

##Check if suggested word is realted to domain concept: 
Depending on how many concepts the user will provide
(sum the score)

In [ ]:
df=pd.read_csv('gdrive/My Drive/NIER-ICSE/data/test/seqConcepts.csv')
df

In [ ]:
df['number']=df['sequence'].apply(lambda x: len(eval(x)))

In [ ]:
import random
def pick(l):
  return random.sample(l, int(len(l)*0.25))

In [ ]:
df['partial']=df['sequence'].apply(lambda x : pick(eval(x)))

In [ ]:
df['attempts']=df.apply(lambda x: len(eval(x['sequence']))-len(x['partial']),axis=1)

In [ ]:
df['GroundTruth']=df.apply(lambda x : (set(eval(x['sequence'])))-set(x['partial']),axis=1)

In [ ]:
df

In [ ]:
df=df[:].reset_index()

In [ ]:
df

In [ ]:
df.to_csv('gdrive/My Drive/NIER-ICSE/data/test/validationDataset.csv')

##Results

In [ ]:
df=pd.read_csv('gdrive/My Drive/NIER-ICSE/data/test/validationDataset.csv')
df

,Unnamed: 0,Unnamed: 0.1,sequence,package,number,partial,attempts,GroundTruth
0,0,0,"{'Office', 'People', 'Contact', 'BookVersion',...",addressbook,7,['Contact'],6,"{'People', 'Office', 'Repository', 'Electronic..."
1,1,1,"{'ExternalArticle', 'TreeNode', 'Documentation...",article,45,"['Toc', 'JavaElement', 'EmbeddableElement', 'J...",34,"{'ExtensionPoint', 'Context', 'HtmlFormatter',..."
2,2,2,"{'MobilePhone', 'Phone', 'Account', 'PointOfSa...",bank,27,"['PointOfSale', 'MobilePhone', 'BankerTransact...",21,"{'OnlineTransaction', 'Merchant', 'Party', 'De..."
3,3,3,"{'PhDThesis', 'Misc', 'Book', 'InCollection', ...",BibTeX,21,"['TechReport', 'Unpublished', 'BookTitledEntry...",16,"{'Booklet', 'BibTeXFile', 'AuthoredEntry', 'Th..."
4,4,4,"{'Chapter', 'Author', 'System', 'Book'}",Books,4,['Author'],3,"{'Book', 'Chapter', 'System'}"
5,5,5,"{'BookStore', 'Book'}",BookStorePackage,2,[],2,"{'Book', 'BookStore'}"
6,6,6,"{'League', 'Tournament', 'Matchup', 'Alley', '...",bowling,7,['Tournament'],6,"{'Lane', 'Player', 'Matchup', 'Alley', 'League..."
7,7,7,"{'Calc', 'CalcExpr', 'VarCall', 'Boolean', 'Ca...",calculatrice,8,"['Number', 'Condition']",6,"{'Calc', 'BoolExpr', 'Boolean', 'Calculatrice'..."
8,8,8,"{'Craft', 'Customer', 'VipCustomer', 'Automobi...",CarRentalModel,8,"['VipCustomer', 'Agency']",6,"{'Motorcycle', 'CarRental', 'Automobile', 'Cra..."
9,9,9,"{'Location', 'Conference', 'Chapter', 'Person'...",conf,16,"['RevisionNote', 'Person', 'Chapter', 'Researc...",12,"{'Evaluation', 'SteeringComitee', 'System', 'C..."
10,10,10,"{'Contact', 'PhoneNumber', 'UoD', 'Address', '...",contacts,5,['Contact'],4,"{'UoD', 'PhoneNumber', 'Address', 'AddressBook'}"
11,11,11,"{'StudyProgram', 'CourseCoordinator', 'CourseW...",course,16,"['StudyProgram', 'Person', 'CourseCoordinator'...",12,"{'Evaluation', 'TA', 'CourseWork', 'University..."
12,12,12,"{'USAddress', 'CanadaAddress', 'CustomersDB', ...",customers,6,['Customer'],5,"{'CreditCard', 'Address', 'USAddress', 'Canada..."
13,13,13,"{'Customer', 'Object', 'ProjectRevision', 'Lib...",decobat,11,"['Object', 'Level']",9,"{'LibraryCategory', 'Library', 'Project', 'Pla..."
14,14,14,"{'Object', 'EJavaObject', 'Capture', 'Action',...",device,8,"['EJavaObject', 'Device']",6,"{'Capture', 'Action', 'Fonctionnalite', 'Objec..."
15,15,15,"{'Chapter', 'BasicEntry', 'FullEntry', 'Sectio...",document,6,['Section'],5,"{'Chapter', 'Table', 'BasicEntry', 'FullEntry'..."
16,16,16,"{'XRefValue', 'InformalTableValueRow', 'Textua...",Documentation,11,"['ParagraphValue', 'ItemizedListValueItem']",9,"{'Paragraph', 'TextualValue', 'XRefValue', 'It..."
17,17,17,"{'NamedElement', 'ImmovableObject', 'FieldObje...",drones,12,"['NamedElement', 'Mission', 'Drone']",9,"{'SizedElement', 'ChargeStation', 'Parameter',..."
18,18,18,"{'EmployeeContainer', 'Employee'}",Employees,2,[],2,"{'EmployeeContainer', 'Employee'}"
19,19,19,"{'Member', 'Family'}",Families,2,[],2,"{'Member', 'Family'}"
20,20,20,"{'City', 'Service', 'NamedElement', 'Company',...",families,11,"['City', 'Service']",9,"{'School', 'Parent', 'Company', 'Member', 'Nei..."
21,21,21,"{'TurnOnDigital', 'Command', 'IsGreaterThan', ...",farmbot_modeling,27,"['SequenceInstruction', 'BooleanExpression', '...",21,"{'IsNotEqualTo', 'ListSequences', 'TurnOnDigit..."
22,22,22,"{'Person', 'Man', 'Woman', 'Classroom'}",Friends,4,['Classroom'],3,"{'Man', 'Woman', 'Person'}"
23,23,23,"{'Cardinal', 'LogicalNot', 'Type', 'Statement'...",game,41,"['Forall', 'Subprocess', 'Atom', 'And', 'Varia...",31,"{'Assignment', 'Equality', 'Iteration', 'SetEx..."
24,24,24,"{'Tournament', 'QualificationPhase', 'Pool', '...",gametournament,6,['Game'],5,"{'Tournament', 'Pool', 'Gamer', 'Qualification..."
25,25,25,"{'Haircuts', 'Service', 'Customer', 'Appointme...",hairDressersRegSys,12,"['Person', 'Styling', 'Service']",9,"{'Products', 'Payment', 'Invoice', 'ServiceEmp..."
26,26,26,"{'Person', 'UoD', 'Loan', 'Library', 'Book'}",library,5,['Library'],4,"{'Book', 'UoD', 'Loan', 'Person'}"
27,27,27,"{'CriticsReview', 'Copy', 'CustomerReview', 'P...",movies,6,['Copy'],5,"{'MoviesDB', 'CriticsReview', 'CustomerReview'..."
28,28,28,"{'Job', 'Person', 'Company'}",PersonCompany,3,[],3,"{'Job', 'Company', 'Person'}"
29,29,29,"{'SupportTicketHandler', 'BookingHandler', 'Su...",RootElement,36,"['HourlyRoomBooking', 'PaymentHandler', 'Suppo...",27,"{'BookingHandler', 'Payment', 'ServiceItemHand..."
30,30,30,"{'Issue', 'Identifiable', 'Version', 'Member',...",trackit,8,"['Product', 'Issue']",6,"{'Team', 'Version', 'IssueTracker', 'Comment',..."
31,31,31,"{'Journey', 'Train', 'Waggon', 'Reservation', ...",Train,6,['Way'],5,"{'Train', 'Reservation', 'Waggon', 'Station', ..."
32,32,32,"{'Inch', 'Quantity', 'LengthAdd', 'AngleUnit',...",units,41,"['ImperialSystemUnit', 'QuantityComparisonOper...",31,"{'LengthSmaller', 'QuantityScalarOperation', '..."
33,33,33,"{'UnitRepository', 'Unit', 'Pointcut', 'Advice...",units_pc_av,12,"['Pointcut', 'BaseUnit', 'Unit']",9,"{'Advice', 'UnitLiteral', 'GlobalScope', 'Unit..."
34,34,34,"{'Course', 'University', 'Student'}",university,3,[],3,"{'Course', 'University', 'Student'}"
35,35,35,"{'Transition', 'Actuating', 'EnergySource', 'C...",wsn,45,"['Cluster', 'Sensing', 'NodeRole', 'Lifeline',...",34,"{'SensorRole', 'Task', 'ActuatorRole', 'Wirele..."
36,36,36,"{'aCourses', 'Person', 'aUniversity', 'ModelEl...",UniverityU,7,['Person'],6,"{'University', 'aPerson', 'ModelElement', 'aUn..."
37,37,37,"{'uCourses', 'uPerson', 'aCourses', 'aUniversi...",uncertainty,8,"['aCourses', 'uUniversity']",6,"{'uCourses', 'UData', 'aPerson', 'ModelElement..."
38,38,38,"{'Gallery', 'FooterEntry', 'GalleryContent', '...",web,19,"['NewsEntry', 'Release', 'Link', 'SocialBar']",15,"{'SocialInformation', 'ReleaseSection', 'Galle..."

##Attributes

In [ ]:
dfAttributes=pd.read_csv('gdrive/My Drive/NIER-ICSE/data/test/dataWithAttributes.csv')
dfAttributes['attributes']=dfAttributes['attributes'].apply(lambda x : eval(x))
dfAttributes=dfAttributes[dfAttributes['attributes'].map(len)>0]
dfAttributes=dfAttributes.reset_index()
dfAttributes.drop(['index','Unnamed: 0'],axis=1,inplace=True)
dfAttributes=dfAttributes[10:].reset_index()
dfAttributes['number']=dfAttributes['attributes'].apply(lambda x: len(x))

     index      package           name        attributes  number
0       10  addressbook     Electronic  [email, website]       2
1       11  addressbook         Office         [company]       1
2       12  addressbook         People            [name]       1
3       13  addressbook    BookVersion              [id]       1
4       14      article  Documentation         [project]       1
..     ...          ...            ...               ...     ...
261    271       xDrone      FrontWall           [value]       1
262    272       xDrone      RightWall           [value]       1
263    273       xDrone       LeftWall           [value]       1
264    274       xDrone       BackWall           [value]       1
265    275       xDrone         UpWall           [value]       1

[266 rows x 5 columns]

In [ ]:
dfAttributes['partial']=dfAttributes['attributes'].apply(lambda x : pick(x))

In [ ]:
dfAttributes

     index      package           name        attributes  number partial
0       10  addressbook     Electronic  [email, website]       2      []
1       11  addressbook         Office         [company]       1      []
2       12  addressbook         People            [name]       1      []
3       13  addressbook    BookVersion              [id]       1      []
4       14      article  Documentation         [project]       1      []
..     ...          ...            ...               ...     ...     ...
261    271       xDrone      FrontWall           [value]       1      []
262    272       xDrone      RightWall           [value]       1      []
263    273       xDrone       LeftWall           [value]       1      []
264    274       xDrone       BackWall           [value]       1      []
265    275       xDrone         UpWall           [value]       1      []

[266 rows x 6 columns]

In [ ]:
dfAttributes.to_csv('gdrive/My Drive/NIER-ICSE/data/test/attributesToValidate.csv')

##Metrics

###Exact match

######  recall

In [ ]:
def Recall(predictedList,GroundTruthList): #TP+/FN+TP 
  score=0  
  
  GroundTruthList=list(map(str.lower,GroundTruthList))
  for i in predictedList: 
    
    if i.lower() in GroundTruthList : 
     
      score=score+1
  x=len(GroundTruthList)
  if x==0 : 
      return 0
  return score/len(GroundTruthList)

#### precision

In [ ]:

def precision (predictedList,testList): #TP+/FP+TP 
  score=0 

  testList=list(map(str.lower,testList))
  
  for i in predictedList: 
    i=i.lower()
    if i in testList : 
     
      score=score+1
  x=len(predictedList)
  if x==0 : 
      return 0
  return score/len(predictedList)

#### Similarity match

In [ ]:
def findSynonyms(word):
  
  synonyms = []
  for syn in wordnet.synsets(word.lower()):
      for l in syn.lemmas():
        synonyms.append(l.name())
  return list(set(synonyms))

In [ ]:
def similarMatch(predictedList, labeldList):

  score=0
  for i in predictedList: 
    
    for j in labeldList: 
     
      synonyms=findSynonyms(j)
      if i.lower() in synonyms : 
        score=score+1
        
  return score/len(labeldList)

###Manual results

In [ ]:
df=pd.read_csv('gdrive/My Drive/NIER-ICSE/data/test/Manual_resultsV0.csv')
df

,Unnamed: 0,sequence,package,number,partial,attempts,GroundTruth,results
0,0,"{'Office', 'People', 'Contact', 'BookVersion',...",addressbook,7,['Contact'],6,"{'People', 'Office', 'Repository', 'Electronic...",Group=1\nCompany=1\nEmail=1\nphone=1\nInternet...
1,2,"{'MobilePhone', 'Phone', 'Account', 'PointOfSa...",bank,27,"['PointOfSale', 'MobilePhone', 'BankerTransact...",21,"{'OnlineTransaction', 'Merchant', 'Party', 'De...",Company=1\nAddress=1\nTrainer=1\nStore=1\nSmar...
2,3,"{'PhDThesis', 'Misc', 'Book', 'InCollection', ...",BibTeX,21,"['TechReport', 'Unpublished', 'BookTitledEntry...",16,"{'Booklet', 'BibTeXFile', 'AuthoredEntry', 'Th...",inproceedings=1\nConference=1\nVehicle=1\nThe=...
3,4,"{'Chapter', 'Author', 'System', 'Book'}",Books,4,['Author'],3,"{'Book', 'Chapter', 'System'}",library=1\nbook=1\ngenre=1\nmember=1\npublisher=1
4,5,"{'BookStore', 'Book'}",BookStorePackage,2,[],2,"{'Book', 'BookStore','buyer','author'}",library=1\nCustomer=1\npublisher=1\nauthor=2
5,6,"{'League', 'Tournament', 'Matchup', 'Alley', '...",bowling,7,['Tournament'],6,"{'Lane', 'Player', 'Matchup', 'Alley', 'League...",Tennis=1\nPlayer=1\nGolf=1\nTeam=1
6,7,"{'Calc', 'CalcExpr', 'VarCall', 'Boolean', 'Ca...",calculatrice,8,"['Number', 'Condition']",6,"{'Calc', 'BoolExpr', 'Boolean', 'Calculatrice'...",for=1\nmontre=1\nwhile=1\nimp=1\nswitch=1\nimp...
7,8,"{'Craft', 'Customer', 'VipCustomer', 'Automobi...",CarRentalModel,8,"['VipCustomer', 'Agency']",6,"{'Motorcycle', 'CarRental', 'Automobile', 'Cra...",Program=1\nLoyaltyProgram=1\nLoyalty=1\nRental...
8,9,"{'Location', 'Conference', 'Chapter', 'Person'...",conf,16,"['RevisionNote', 'Person', 'Chapter', 'Researc...",12,"{'Evaluation', 'SteeringComitee', 'System', 'C...",Company=1\nConference=1\npresentation=1\nAssig...
9,10,"{'Contact', 'PhoneNumber', 'UoD', 'Address', '...",contacts,5,['addressbook'],4,"{'UoD', 'PhoneNumber', 'Address', 'AddressBook'}",company=1\naddress=2\nperson=2\nbook=2
10,11,"{'StudyProgram', 'CourseCoordinator', 'CourseW...",course,16,"['StudyProgram', 'Person', 'CourseCoordinator'...",12,"{'Evaluation', 'TA', 'CourseWork', 'University...",Semester=1\nLectureHall=1\nteaching=1\nteachin...
11,12,"{'USAddress', 'CanadaAddress', 'CustomersDB', ...",customers,6,"['Customer','CanadaAddress']",4,"{'CreditCard', 'Address', 'USAddress', 'Custom...",Account=1\nBank=1\nMexicoAddress=1\nMexico=1\n...
12,13,"{'Customer', 'Object', 'ProjectRevision', 'Lib...",decobat,11,"['customer', 'ProjectRevision','Library']",9,"{'LibraryCategory', 'Library', 'Project', 'Pla...",decorate=1\nsub=1\ndec=1\ndirect=1\ndeliver=1\...
13,15,"{'Chapter', 'BasicEntry', 'FullEntry', 'Sectio...",document,6,['BasicEntry'],5,"{'Chapter', 'Table', 'BasicEntry', 'FullEntry'...",account=1\nentry=2\nbasic=2
14,17,"{'NamedElement', 'ImmovableObject', 'FieldObje...",drones,12,"['ChargeStation', 'Mission', 'FieldObject']",9,"{'SizedElement', 'ChargeStation', 'Parameter',...",flight=1\ncity=1\nbattery=1\nelectriccar=1\nho...
15,20,"{'City', 'Service', 'NamedElement', 'Company',...",families,11,"['City', 'Service']",9,"{'School', 'Parent', 'Company', 'Member', 'Nei...",persons=1\nCompany=1\nFamilyMember=1\nCustomer...
16,22,"{'Person', 'Man', 'Woman', 'Classroom'}",Friends,4,['man'],3,"{'Man', 'Woman', 'Person'}",person=1\nwoman=2
17,24,"{'Tournament', 'QualificationPhase', 'Pool', '...",gametournament,6,['Game'],5,"{'Tournament', 'Pool', 'Gamer', 'Qualification...",playertournament=1\nteam=1\ntournament=2\nplay...
18,25,"{'Haircuts', 'Service', 'Customer', 'Appointme...",hairDressersRegSys,12,"['customer', 'invoice', 'Service']",9,"{'Products', 'Payment', 'Invoice', 'ServiceEmp...",lineitem=1\nline=1\ninvoiceitem=1\nhair=1\nhai...
19,26,"{'Person', 'UoD', 'Loan', 'Library', 'Book'}",library,5,['uod'],4,"{'Book', 'UoD', 'Loan', 'Person'}",loan=1\nstudent=2\nbook=2
20,27,"{'CriticsReview', 'Copy', 'CustomerReview', 'P...",movies,6,['MoviesDB'],5,"{'MoviesDB', 'CriticsReview', 'CustomerReview'...",Theatre=1\nrestaurants=1\ntheatres=1\nmovie=2\...
21,28,"{'Job', 'Person', 'Company'}",PersonCompany,3,[],3,"{'Job', 'Company', 'Person'}",manager=1\nemployee=1\ndepartment=1\ncompany=2
22,29,"{'SupportTicketHandler', 'BookingHandler', 'Su...",RootElement,36,"['HourlyRoomBooking', 'PaymentHandler', 'Suppo...",27,"{'BookingHandler', 'Payment', 'ServiceItemHand...",SupportTicketReader=1\nGuestHandling=1\nOwner=...
23,30,"{'Issue', 'Identifiable', 'Version', 'Member',...",trackit,8,"['Product', 'IssueTrcker']",6,"{'Team', 'Version', 'IssueTracker', 'Comment',...",project=1\nemployee=1\ninventory=1\nserialno=1...
24,31,"{'Journey', 'Train', 'Waggon', 'Reservation', ...",Train,6,['Way'],5,"{'Train', 'Reservation', 'Waggon', 'Station', ...",Passenger=1\nWagon=1\nStation=2\nTicket=2\nTra...
25,32,"{'Inch', 'Quantity', 'LengthAdd', 'AngleUnit',...",units,41,"['ImperialSystemUnit', 'QuantityComparisonOper...",31,"{'LengthSmaller', 'QuantityScalarOperation', '...",Liter=1\nUnitOfMeasurement=1\nBinaryOperation=...
26,34,"{'Course', 'University', 'Student'}",university,3,[course],2,"{'Course', 'University', 'Student'}",student=2\ndepartment=2
27,37,"{'uCourses', 'uPerson', 'aCourses', 'aUniversi...",uncertainty,8,"['aCourses', 'uUniversity']",6,"{'uCourses', 'UData', 'aPerson', 'ModelElement...",Faculty=1\nprofessor=1\nt=1\nStudents=1\ngradu...
28,38,"{'Gallery', 'FooterEntry', 'GalleryContent', '...",web,19,"['GalleryContent', 'page', 'Link', 'SocialBar']",15,"{'SocialInformation', 'ReleaseSection', 'Galle...",server=1\ntextcontent=1\ntextbox=1\ndocument=1...

In [ ]:
parseResults(df['results'].loc[33])

In [ ]:
import re


def parseResults(results):
  suggestions= results.split('\n')
  concepts=[]
  for s in suggestions: 
    concepts.append(s.split('=')[0])
  return concepts

In [ ]:
def createHashtag(results): 
  
  concepts={}
  suggestions= results.split('\n')
  for s in suggestions: 
    key = s.split('=')[0]
    value = s.split('=')[1]
    concepts[key]=value
  return concepts

In [ ]:
df['maps']=df['results'].apply(lambda x: createHashtag(x))

In [ ]:
df['suggestions']=df['results'].apply(lambda x: parseResults(x) )

In [ ]:
def selectedConcepts(conceptsMap, attempts): 
  new= dict(sorted(conceptsMap.items(), key=lambda item: item[1],reverse=True))

  selected=[]
  for idx, x in enumerate(list(new)): 
    if (idx<attempts): 
      selected.append(x)
    else : 
      break 
  
  return selected

In [ ]:
df['selectedConcepts']=df.apply(lambda x: selectedConcepts(x['maps'],x['attempts'] ),axis=1)

accuracy with only selected items

In [ ]:
df['precision_Step=1']=df.apply(lambda x: precision(x['selectedConcepts'],eval(x['GroundTruth']) ),axis=1)

In [ ]:
df['precision_Step=1']

0     0.000000
1     0.476190
2     0.312500
3     0.333333
4     0.500000
5     0.250000
6     0.166667
7     0.166667
8     0.083333
9     0.250000
10    0.333333
11    0.250000
12    0.222222
13    0.333333
14    0.111111
15    0.444444
16    1.000000
17    0.250000
18    0.111111
19    0.666667
20    0.200000
21    0.333333
22    0.222222
23    0.166667
24    0.400000
25    0.225806
26    0.500000
27    0.000000
28    0.200000
Name: precision_Step=1, dtype: float64

In [ ]:
df['recall_Step=1']=df.apply(lambda x: Recall(x['selectedConcepts'],eval(x['GroundTruth']) ),axis=1)

In [ ]:
df['recall_Step=1']

0     0.000000
1     0.476190
2     0.312500
3     0.333333
4     0.250000
5     0.166667
6     0.166667
7     0.166667
8     0.083333
9     0.250000
10    0.333333
11    0.250000
12    0.222222
13    0.200000
14    0.111111
15    0.444444
16    0.666667
17    0.200000
18    0.111111
19    0.500000
20    0.200000
21    0.333333
22    0.222222
23    0.166667
24    0.400000
25    0.225806
26    0.333333
27    0.000000
28    0.200000
Name: recall_Step=1, dtype: float64

In [ ]:
df['similarMatch']=df.apply(lambda x: similarMatch(x['selectedConcepts'],eval(x['GroundTruth']) ),axis=1)
df['similarMatch']

In [ ]:
df[['similarMatch','precision','recall','GroundTruth','selectedConcepts']]

In [ ]:
df.to_csv('gdrive/My Drive/NIER-ICSE/data/test/Results@K=1.csv')

# K=2

In [ ]:
df=pd.read_csv('gdrive/My Drive/NIER-ICSE/data/test/Results@K=1Manual.csv')

In [ ]:
df

,Unnamed: 0,sequence,package,number,partial,attempts,GroundTruth,results,maps,suggestions,selectedConcepts,precision_Step=1,recall_Step=1,selectedConcepts_manually
0,0,"{'Office', 'People', 'Contact', 'BookVersion',...",addressbook,7,['Contact'],6,"{'People', 'Office', 'Repository', 'Electronic...",Group=1\nCompany=1\nEmail=1\nphone=1\nInternet...,"{'Group': '1', 'Company': '1', 'Email': '1', '...","['Group', 'Company', 'Email', 'phone', 'Intern...","['address', 'book', 'Group', 'Company', 'Email...",0.000000,0.000000,"['addressBook', 'company']"
1,1,"{'MobilePhone', 'Phone', 'Account', 'PointOfSa...",bank,27,"['PointOfSale', 'MobilePhone', 'BankerTransact...",21,"{'OnlineTransaction', 'Merchant', 'Party', 'De...",Company=1\nAddress=1\nTrainer=1\nStore=1\nSmar...,"{'Company': '1', 'Address': '1', 'Trainer': '1...","['Company', 'Address', 'Trainer', 'Store', 'Sm...","['External', 'ExternalAccount', 'Bank', 'Email...",0.476190,0.476190,"[ 'ExternalAccount', 'Bank', 'Email', 'Product..."
2,2,"{'PhDThesis', 'Misc', 'Book', 'InCollection', ...",BibTeX,21,"['TechReport', 'Unpublished', 'BookTitledEntry...",16,"{'Booklet', 'BibTeXFile', 'AuthoredEntry', 'Th...",inproceedings=1\nConference=1\nVehicle=1\nThe=...,"{'inproceedings': '1', 'Conference': '1', 'Veh...","['inproceedings', 'Conference', 'Vehicle', 'Th...","['InProceedings', 'InCollection', 'Collection'...",0.312500,0.312500,"['InProceedings', 'InCollection', 'MastersThe..."
3,3,"{'Chapter', 'Author', 'System', 'Book'}",Books,4,['Author'],3,"{'Book', 'Chapter', 'System'}",library=1\nbook=1\ngenre=1\nmember=1\npublisher=1,"{'library': '1', 'book': '1', 'genre': '1', 'm...","['library', 'book', 'genre', 'member', 'publis...","['library', 'book', 'genre']",0.333333,0.333333,[ 'book']
4,4,"{'BookStore', 'Book'}",BookStorePackage,2,[],2,"{'Book', 'BookStore','buyer','author'}",library=1\nCustomer=1\npublisher=1\nauthor=2,"{'library': '1', 'Customer': '1', 'publisher':...","['library', 'Customer', 'publisher', 'author']","['author', 'library']",0.500000,0.250000,"['author', 'library']"
5,5,"{'League', 'Tournament', 'Matchup', 'Alley', '...",bowling,7,['Tournament'],6,"{'Lane', 'Player', 'Matchup', 'Alley', 'League...",Tennis=1\nPlayer=1\nGolf=1\nTeam=1,"{'Tennis': '1', 'Player': '1', 'Golf': '1', 'T...","['Tennis', 'Player', 'Golf', 'Team']","['Tennis', 'Player', 'Golf', 'Team']",0.250000,0.166667,[ 'Player']
6,6,"{'Calc', 'CalcExpr', 'VarCall', 'Boolean', 'Ca...",calculatrice,8,"['Number', 'Condition']",6,"{'Calc', 'BoolExpr', 'Boolean', 'Calculatrice'...",for=1\nmontre=1\nwhile=1\nimp=1\nswitch=1\nimp...,"{'for': '1', 'montre': '1', 'while': '1', 'imp...","['for', 'montre', 'while', 'imp', 'switch', 'i...","['atrice', 'ul', 'calc', 'ordinate', 'ur', 'or...",0.166667,0.166667,[ 'calc' ]
7,7,"{'Craft', 'Customer', 'VipCustomer', 'Automobi...",CarRentalModel,8,"['VipCustomer', 'Agency']",6,"{'Motorcycle', 'CarRental', 'Automobile', 'Cra...",Program=1\nLoyaltyProgram=1\nLoyalty=1\nRental...,"{'Program': '1', 'LoyaltyProgram': '1', 'Loyal...","['Program', 'LoyaltyProgram', 'Loyalty', 'Rent...","['Customer', 'Rental', 'Car', 'Model', 'Vip', ...",0.166667,0.166667,"['Customer', 'Rental', 'Car']"
8,8,"{'Location', 'Conference', 'Chapter', 'Person'...",conf,16,"['RevisionNote', 'Person', 'Chapter', 'Researc...",12,"{'Evaluation', 'SteeringComitee', 'System', 'C...",Company=1\nConference=1\npresentation=1\nAssig...,"{'Company': '1', 'Conference': '1', 'presentat...","['Company', 'Conference', 'presentation', 'Ass...","['Revision', 'Note', 'Article', 'Book', 'ee', ...",0.083333,0.083333,"['Revision', 'Article', 'Publication']"
9,9,"{'Contact', 'PhoneNumber', 'UoD', 'Address', '...",contacts,5,['addressbook'],4,"{'UoD', 'PhoneNumber', 'Address', 'AddressBook'}",company=1\naddress=2\nperson=2\nbook=2,"{'company': '1', 'address': '2', 'person': '2'...","['company', 'address', 'person', 'book']","['address', 'person', 'book', 'company']",0.250000,0.250000,"['Book', 'oD', 'Person', 'Email']"
10,10,"{'StudyProgram', 'CourseCoordinator', 'CourseW...",course,16,"['StudyProgram', 'Person', 'CourseCoordinator'...",12,"{'Evaluation', 'TA', 'CourseWork', 'University...",Semester=1\nLectureHall=1\nteaching=1\nteachin...,"{'Semester': '1', 'LectureHall': '1', 'teachin...","['Semester', 'LectureHall', 'teaching', 'teach...","['Study', 'Program', 'Coordinator', 'student',...",0.333333,0.333333,"[ 'Program', 'Coordinator', 'university', 'St..."
11,11,"{'USAddress', 'CanadaAddress', 'CustomersDB', ...",customers,6,"['Customer','CanadaAddress']",4,"{'CreditCard', 'Address', 'USAddress', 'Custom...",Account=1\nBank=1\nMexicoAddress=1\nMexico=1\n...,"{'Account': '1', 'Bank': '1', 'MexicoAddress':...","['Account', 'Bank', 'MexicoAddress', 'Mexico',...","['Canada', 'USA', 'Address', 'USAAddress']",0.250000,0.250000,"['Address', 'USAAddress']"
12,12,"{'Customer', 'Object', 'ProjectRevision', 'Lib...",decobat,11,"['customer', 'ProjectRevision','Library']",9,"{'LibraryCategory', 'Library', 'Project', 'Pla...",decorate=1\nsub=1\ndec=1\ndirect=1\ndeliver=1\...,"{'decorate': '1', 'sub': '1', 'dec': '1', 'dir...","['decorate', 'sub', 'dec', 'direct', 'deliver'...","['deco', 'project', 'bat', 'revision', 'book',...",0.222222,0.222222,"['Product','Supplier','project','revision','bo..."
13,13,"{'Chapter', 'BasicEntry', 'FullEntry', 'Sectio...",document,6,['BasicEntry'],5,"{'Chapter', 'Table', 'BasicEntry', 'FullEntry'...",account=1\nentry=2\nbasic=2,"{'account': '1', 'entry': '2', 'basic': '2'}","['account', 'entry', 'basic']","['entry', 'basic', 'account']",0.333333,0.200000,['entry']
14,14,"{'NamedElement', 'ImmovableObject', 'FieldObje...",drones,12,"['ChargeStation', 'Mission', 'FieldObject']",9,"{'SizedElement', 'ChargeStation', 'Parameter',...",flight=1\ncity=1\nbattery=1\nelectriccar=1\nho...,"{'flight': '1', 'city': '1', 'battery': '6', '...","['flight', 'city', 'battery', 'electriccar', '...","['object', 'battery', 'station', 'field', 'map...",0.111111,0.111111,"['battery','chargingstation']"
15,15,"{'City', 'Service', 'NamedElement', 'Company',...",families,11,"['City', 'Service']",9,"{'School', 'Parent', 'Company', 'Member', 'Nei...",persons=1\nCompany=1\nFamilyMember=1\nCustomer...,"{'persons': '1', 'Company': '1', 'FamilyMember...","['persons', 'Company', 'FamilyMember', 'Custom...","['Department', 'Family', 'persons', 'Company',...",0.444444,0.444444,"[ 'Position', 'Zone']"
16,16,"{'Person', 'Man', 'Woman', 'Classroom'}",Friends,4,['man'],3,"{'Man', 'Woman', 'Person'}",person=1\nwoman=2,"{'person': '1', 'woman': '2'}","['person', 'woman']","['woman', 'person']",1.000000,0.666667,"['person', 'woman']"
17,17,"{'Tournament', 'QualificationPhase', 'Pool', '...",gametournament,6,['Game'],5,"{'Tournament', 'Pool', 'Gamer', 'Qualification...",playertournament=1\nteam=1\ntournament=2\nplay...,"{'playertournament': '1', 'team': '1', 'tourna...","['playertournament', 'team', 'tournament', 'pl...","['tournament', 'player', 'playertournament', '...",0.250000,0.200000,"['tournament', 'player', 'playertournament', '..."
18,18,"{'Haircuts', 'Service', 'Customer', 'Appointme...",hairDressersRegSys,12,"['customer', 'invoice', 'Service']",9,"{'Products', 'Payment', 'Invoice', 'ServiceEmp...",lineitem=1\nline=1\ninvoiceitem=1\nhair=1\nhai...,"{'lineitem': '1', 'line': '1', 'invoiceitem': ...","['lineitem', 'line', 'invoiceitem', 'hair', 'h...","['reg', 'hairdressers', 'customer', 'product',...",0.111111,0.111111,"['person','invoice','Products','hair','customer']"
19,19,"{'Person', 'UoD', 'Loan', 'Library', 'Book'}",library,5,['uod'],4,"{'Book', 'UoD', 'Loan', 'Person'}",loan=1\nstudent=2\nbook=2,"{'loan': '1', 'student': '2', 'book': '2'}","['loan', 'student', 'book']","['student', 'book', 'loan']",0.666667,0.500000,"['loan', 'student', 'book']"
20,20,"{'CriticsReview', 'Copy', 'CustomerReview', 'P...",movies,6,['MoviesDB'],5,"{'MoviesDB', 'CriticsReview', 'CustomerReview'...",Theatre=1\nrestaurants=1\ntheatres=1\nmovie=2\...,"{'Theatre': '1', 'restaurants': '1', 'theatres...","['Theatre', 'restaurants', 'theatres', 'movie'...","['movie', 'Critics', 'Review', 'Theatre', 'res...",0.200000,0.200000,"[ 'movie', 'Review']"
21,21,"{'Job', 'Person', 'Company'}",PersonCompany,3,[],3,"{'Job', 'Company', 'Person'}",manager=1\nemployee=1\ndepartment=1\ncompany=2,"{'manager': '1', 'employee': '1', 'department'...","['manager', 'employee', 'department', 'company']","['company', 'manager', 'employee']",0.333333,0.333333,"['company', 'employee']"
22,22,"{'SupportTicketHandler', 'BookingHandler', 'Su...",RootElement,36,"['HourlyRoomBooking', 'PaymentHandler', 'Suppo...",27,"{'BookingHandler', 'Payment', 'ServiceItemHand...",SupportTicketReader=1\nGuestHandling=1\nOwner=...,"{'SupportTicketReader': '1', 'GuestHandling': ...","['SupportTicketReader', 'GuestHandling', 'Owne...","['Employee', 'RoomType', 'Room', 'System', 'Ha...",0.222222,0.222222,"['Employee', 'RoomType', 'Room', 'System', 'Da..."
23,23,"{'Issue', 'Identifiable', 'Version', 'Member',...",trackit,8,"['Product', 'IssueTrcker']",6,"{'Team', 'Version', 'IssueTracker', 'Comment',...",project=1\nemployee=1\ninventory=1\nserialno=1...,"{'project': '1', 'employee': '1', 'inventory':...","['project', 'employee', 'inventory', 'serialno...","['issue', 'issuetracker', 'bug', 'customer', '...",0.166667,0.166667,"['issue','Comment','issuetracker','employee']"
24,24,"{'Journey', 'Train', 'Waggon', 'Reservation', ...",Train,6,['Way'],5,"{'Train', 'Reservation', 'Waggon', 'Station', ...",Passenger=1\nWagon=1\nStation=2\nTicket=2\nTra...,"{'Passenger': '1', 'Wagon': '1', 'Station': '2...","['Passenger', 'Wagon', 'Station', 'Ticket', 'T...","['Station', 'Ticket', 'Train', 'Passenger', 'W...",0.400000,0.400000,"['station', 'ticket', 'train', 'wagon']"
25,25,"{'Inch', 'Quantity', 'LengthAdd', 'AngleUnit',...",units,41,"['ImperialSystemUnit', 'QuantityComparisonOper...",31,"{'LengthSmaller', 'QuantityScalarOperation', '...",Liter=1\nUnitOfMeasurement=1\nBinaryOperation=...,"{'Liter': '1', 'UnitOfMeasurement': '1', 'Bina...","['Liter', 'UnitOfMeasurement', 'BinaryOperatio...","['Volume', 'Meter', 'MetricSystemUnit', 'Metri...",0.225806,0.225806,"['Volume', 'Meter', 'MetricSystemUnit', 'Wi..."
26,26,"{'Course', 'University', 'Student'}",university,3,[course],2,"{'Course', 'University', 'Student'}",student=2\ndepartment=2,"{'student': '2', 'department': '2'}","['student', 'department']","['student', 'department']",0.500000,0.333333,"['student', 'department']"
27,27,"{'uCourses', 'uPerson', 'aCourses', 'aUniversi...",uncertainty,8,"['aCourses', 'uUniversity']",6,"{'uCourses', 'UData', 'aPerson', 'ModelElement...",Faculty=1\nprofessor=1\nt=1\nStudents=1\ngradu...,"{'Faculty': '1', 'professor': '1', 't': '1', '...","['Faculty', 'professor', 't', 'Students', 'gra...","['student', 'University', 'course', 'Faculty',...",0.000000,0.000000,"[ 'Univerity', 'course']"
28,28,"{'Gallery', 'FooterEntry', 'GalleryContent', '...",web,19,"['GalleryContent', 'page', 'Link', 'SocialBar']",15,"{'SocialInformation', 'ReleaseSection', 'Galle...",server=1\ntextcontent=1\ntextbox=1\ndocument=1...,"{'server': '1', 'textcontent': '1', 'textbox':...","['server', 'textcontent', 'textbox', 'document...","['content', 'social', 'bar', 'gallery', 'text'...",0.200000,0.200000,"['gallery','author','Page','site','content','g..."

In [ ]:
df['partial'][26]="['course']"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df['partial']=df['partial'].apply(lambda x: eval(x))

In [ ]:
df['selectedConcepts_manually']=df['selectedConcepts_manually'].apply(lambda x: eval(x))
df

,Unnamed: 0,sequence,package,number,partial,attempts,GroundTruth,results,maps,suggestions,selectedConcepts,precision_Step=1,recall_Step=1,selectedConcepts_manually
0,0,"{'Office', 'People', 'Contact', 'BookVersion',...",addressbook,7,[Contact],6,"{'People', 'Office', 'Repository', 'Electronic...",Group=1\nCompany=1\nEmail=1\nphone=1\nInternet...,"{'Group': '1', 'Company': '1', 'Email': '1', '...","['Group', 'Company', 'Email', 'phone', 'Intern...","['address', 'book', 'Group', 'Company', 'Email...",0.000000,0.000000,"[addressBook, company]"
1,1,"{'MobilePhone', 'Phone', 'Account', 'PointOfSa...",bank,27,"[PointOfSale, MobilePhone, BankerTransaction, ...",21,"{'OnlineTransaction', 'Merchant', 'Party', 'De...",Company=1\nAddress=1\nTrainer=1\nStore=1\nSmar...,"{'Company': '1', 'Address': '1', 'Trainer': '1...","['Company', 'Address', 'Trainer', 'Store', 'Sm...","['External', 'ExternalAccount', 'Bank', 'Email...",0.476190,0.476190,"[ExternalAccount, Bank, Email, Product, Card, ..."
2,2,"{'PhDThesis', 'Misc', 'Book', 'InCollection', ...",BibTeX,21,"[TechReport, Unpublished, BookTitledEntry, Bib...",16,"{'Booklet', 'BibTeXFile', 'AuthoredEntry', 'Th...",inproceedings=1\nConference=1\nVehicle=1\nThe=...,"{'inproceedings': '1', 'Conference': '1', 'Veh...","['inproceedings', 'Conference', 'Vehicle', 'Th...","['InProceedings', 'InCollection', 'Collection'...",0.312500,0.312500,"[InProceedings, InCollection, MastersThesis, P..."
3,3,"{'Chapter', 'Author', 'System', 'Book'}",Books,4,[Author],3,"{'Book', 'Chapter', 'System'}",library=1\nbook=1\ngenre=1\nmember=1\npublisher=1,"{'library': '1', 'book': '1', 'genre': '1', 'm...","['library', 'book', 'genre', 'member', 'publis...","['library', 'book', 'genre']",0.333333,0.333333,[book]
4,4,"{'BookStore', 'Book'}",BookStorePackage,2,[],2,"{'Book', 'BookStore','buyer','author'}",library=1\nCustomer=1\npublisher=1\nauthor=2,"{'library': '1', 'Customer': '1', 'publisher':...","['library', 'Customer', 'publisher', 'author']","['author', 'library']",0.500000,0.250000,"[author, library]"
5,5,"{'League', 'Tournament', 'Matchup', 'Alley', '...",bowling,7,[Tournament],6,"{'Lane', 'Player', 'Matchup', 'Alley', 'League...",Tennis=1\nPlayer=1\nGolf=1\nTeam=1,"{'Tennis': '1', 'Player': '1', 'Golf': '1', 'T...","['Tennis', 'Player', 'Golf', 'Team']","['Tennis', 'Player', 'Golf', 'Team']",0.250000,0.166667,[Player]
6,6,"{'Calc', 'CalcExpr', 'VarCall', 'Boolean', 'Ca...",calculatrice,8,"[Number, Condition]",6,"{'Calc', 'BoolExpr', 'Boolean', 'Calculatrice'...",for=1\nmontre=1\nwhile=1\nimp=1\nswitch=1\nimp...,"{'for': '1', 'montre': '1', 'while': '1', 'imp...","['for', 'montre', 'while', 'imp', 'switch', 'i...","['atrice', 'ul', 'calc', 'ordinate', 'ur', 'or...",0.166667,0.166667,[calc]
7,7,"{'Craft', 'Customer', 'VipCustomer', 'Automobi...",CarRentalModel,8,"[VipCustomer, Agency]",6,"{'Motorcycle', 'CarRental', 'Automobile', 'Cra...",Program=1\nLoyaltyProgram=1\nLoyalty=1\nRental...,"{'Program': '1', 'LoyaltyProgram': '1', 'Loyal...","['Program', 'LoyaltyProgram', 'Loyalty', 'Rent...","['Customer', 'Rental', 'Car', 'Model', 'Vip', ...",0.166667,0.166667,"[Customer, Rental, Car]"
8,8,"{'Location', 'Conference', 'Chapter', 'Person'...",conf,16,"[RevisionNote, Person, Chapter, Researcher]",12,"{'Evaluation', 'SteeringComitee', 'System', 'C...",Company=1\nConference=1\npresentation=1\nAssig...,"{'Company': '1', 'Conference': '1', 'presentat...","['Company', 'Conference', 'presentation', 'Ass...","['Revision', 'Note', 'Article', 'Book', 'ee', ...",0.083333,0.083333,"[Revision, Article, Publication]"
9,9,"{'Contact', 'PhoneNumber', 'UoD', 'Address', '...",contacts,5,[addressbook],4,"{'UoD', 'PhoneNumber', 'Address', 'AddressBook'}",company=1\naddress=2\nperson=2\nbook=2,"{'company': '1', 'address': '2', 'person': '2'...","['company', 'address', 'person', 'book']","['address', 'person', 'book', 'company']",0.250000,0.250000,"[Book, oD, Person, Email]"
10,10,"{'StudyProgram', 'CourseCoordinator', 'CourseW...",course,16,"[StudyProgram, Person, CourseCoordinator, Time...",12,"{'Evaluation', 'TA', 'CourseWork', 'University...",Semester=1\nLectureHall=1\nteaching=1\nteachin...,"{'Semester': '1', 'LectureHall': '1', 'teachin...","['Semester', 'LectureHall', 'teaching', 'teach...","['Study', 'Program', 'Coordinator', 'student',...",0.333333,0.333333,"[Program, Coordinator, university, Student, Pr..."
11,11,"{'USAddress', 'CanadaAddress', 'CustomersDB', ...",customers,6,"[Customer, CanadaAddress]",4,"{'CreditCard', 'Address', 'USAddress', 'Custom...",Account=1\nBank=1\nMexicoAddress=1\nMexico=1\n...,"{'Account': '1', 'Bank': '1', 'MexicoAddress':...","['Account', 'Bank', 'MexicoAddress', 'Mexico',...","['Canada', 'USA', 'Address', 'USAAddress']",0.250000,0.250000,"[Address, USAAddress]"
12,12,"{'Customer', 'Object', 'ProjectRevision', 'Lib...",decobat,11,"[customer, ProjectRevision, Library]",9,"{'LibraryCategory', 'Library', 'Project', 'Pla...",decorate=1\nsub=1\ndec=1\ndirect=1\ndeliver=1\...,"{'decorate': '1', 'sub': '1', 'dec': '1', 'dir...","['decorate', 'sub', 'dec', 'direct', 'deliver'...","['deco', 'project', 'bat', 'revision', 'book',...",0.222222,0.222222,"[Product, Supplier, project, revision, borrower]"
13,13,"{'Chapter', 'BasicEntry', 'FullEntry', 'Sectio...",document,6,[BasicEntry],5,"{'Chapter', 'Table', 'BasicEntry', 'FullEntry'...",account=1\nentry=2\nbasic=2,"{'account': '1', 'entry': '2', 'basic': '2'}","['account', 'entry', 'basic']","['entry', 'basic', 'account']",0.333333,0.200000,[entry]
14,14,"{'NamedElement', 'ImmovableObject', 'FieldObje...",drones,12,"[ChargeStation, Mission, FieldObject]",9,"{'SizedElement', 'ChargeStation', 'Parameter',...",flight=1\ncity=1\nbattery=1\nelectriccar=1\nho...,"{'flight': '1', 'city': '1', 'battery': '6', '...","['flight', 'city', 'battery', 'electriccar', '...","['object', 'battery', 'station', 'field', 'map...",0.111111,0.111111,"[battery, chargingstation]"
15,15,"{'City', 'Service', 'NamedElement', 'Company',...",families,11,"[City, Service]",9,"{'School', 'Parent', 'Company', 'Member', 'Nei...",persons=1\nCompany=1\nFamilyMember=1\nCustomer...,"{'persons': '1', 'Company': '1', 'FamilyMember...","['persons', 'Company', 'FamilyMember', 'Custom...","['Department', 'Family', 'persons', 'Company',...",0.444444,0.444444,"[Position, Zone]"
16,16,"{'Person', 'Man', 'Woman', 'Classroom'}",Friends,4,[man],3,"{'Man', 'Woman', 'Person'}",person=1\nwoman=2,"{'person': '1', 'woman': '2'}","['person', 'woman']","['woman', 'person']",1.000000,0.666667,"[person, woman]"
17,17,"{'Tournament', 'QualificationPhase', 'Pool', '...",gametournament,6,[Game],5,"{'Tournament', 'Pool', 'Gamer', 'Qualification...",playertournament=1\nteam=1\ntournament=2\nplay...,"{'playertournament': '1', 'team': '1', 'tourna...","['playertournament', 'team', 'tournament', 'pl...","['tournament', 'player', 'playertournament', '...",0.250000,0.200000,"[tournament, player, playertournament, team]"
18,18,"{'Haircuts', 'Service', 'Customer', 'Appointme...",hairDressersRegSys,12,"[customer, invoice, Service]",9,"{'Products', 'Payment', 'Invoice', 'ServiceEmp...",lineitem=1\nline=1\ninvoiceitem=1\nhair=1\nhai...,"{'lineitem': '1', 'line': '1', 'invoiceitem': ...","['lineitem', 'line', 'invoiceitem', 'hair', 'h...","['reg', 'hairdressers', 'customer', 'product',...",0.111111,0.111111,"[person, invoice, Products, hair, customer]"
19,19,"{'Person', 'UoD', 'Loan', 'Library', 'Book'}",library,5,[uod],4,"{'Book', 'UoD', 'Loan', 'Person'}",loan=1\nstudent=2\nbook=2,"{'loan': '1', 'student': '2', 'book': '2'}","['loan', 'student', 'book']","['student', 'book', 'loan']",0.666667,0.500000,"[loan, student, book]"
20,20,"{'CriticsReview', 'Copy', 'CustomerReview', 'P...",movies,6,[MoviesDB],5,"{'MoviesDB', 'CriticsReview', 'CustomerReview'...",Theatre=1\nrestaurants=1\ntheatres=1\nmovie=2\...,"{'Theatre': '1', 'restaurants': '1', 'theatres...","['Theatre', 'restaurants', 'theatres', 'movie'...","['movie', 'Critics', 'Review', 'Theatre', 'res...",0.200000,0.200000,"[movie, Review]"
21,21,"{'Job', 'Person', 'Company'}",PersonCompany,3,[],3,"{'Job', 'Company', 'Person'}",manager=1\nemployee=1\ndepartment=1\ncompany=2,"{'manager': '1', 'employee': '1', 'department'...","['manager', 'employee', 'department', 'company']","['company', 'manager', 'employee']",0.333333,0.333333,"[company, employee]"
22,22,"{'SupportTicketHandler', 'BookingHandler', 'Su...",RootElement,36,"[HourlyRoomBooking, PaymentHandler, SupportTic...",27,"{'BookingHandler', 'Payment', 'ServiceItemHand...",SupportTicketReader=1\nGuestHandling=1\nOwner=...,"{'SupportTicketReader': '1', 'GuestHandling': ...","['SupportTicketReader', 'GuestHandling', 'Owne...","['Employee', 'RoomType', 'Room', 'System', 'Ha...",0.222222,0.222222,"[Employee, RoomType, Room, System, Daily, Supp..."
23,23,"{'Issue', 'Identifiable', 'Version', 'Member',...",trackit,8,"[Product, IssueTrcker]",6,"{'Team', 'Version', 'IssueTracker', 'Comment',...",project=1\nemployee=1\ninventory=1\nserialno=1...,"{'project': '1', 'employee': '1', 'inventory':...","['project', 'employee', 'inventory', 'serialno...","['issue', 'issuetracker', 'bug', 'customer', '...",0.166667,0.166667,"[issue, Comment, issuetracker, employee]"
24,24,"{'Journey', 'Train', 'Waggon', 'Reservation', ...",Train,6,[Way],5,"{'Train', 'Reservation', 'Waggon', 'Station', ...",Passenger=1\nWagon=1\nStation=2\nTicket=2\nTra...,"{'Passenger': '1', 'Wagon': '1', 'Station': '2...","['Passenger', 'Wagon', 'Station', 'Ticket', 'T...","['Station', 'Ticket', 'Train', 'Passenger', 'W...",0.400000,0.400000,"[station, ticket, train, wagon]"
25,25,"{'Inch', 'Quantity', 'LengthAdd', 'AngleUnit',...",units,41,"[ImperialSystemUnit, QuantityComparisonOperati...",31,"{'LengthSmaller', 'QuantityScalarOperation', '...",Liter=1\nUnitOfMeasurement=1\nBinaryOperation=...,"{'Liter': '1', 'UnitOfMeasurement': '1', 'Bina...","['Liter', 'UnitOfMeasurement', 'BinaryOperatio...","['Volume', 'Meter', 'MetricSystemUnit', 'Metri...",0.225806,0.225806,"[Volume, Meter, MetricSystemUnit, Width, Yard,..."
26,26,"{'Course', 'University', 'Student'}",university,3,[course],2,"{'Course', 'University', 'Student'}",student=2\ndepartment=2,"{'student': '2', 'department': '2'}","['student', 'department']","['student', 'department']",0.500000,0.333333,"[student, department]"
27,27,"{'uCourses', 'uPerson', 'aCourses', 'aUniversi...",uncertainty,8,"[aCourses, uUniversity]",6,"{'uCourses', 'UData', 'aPerson', 'ModelElement...",Faculty=1\nprofessor=1\nt=1\nStudents=1\ngradu...,"{'Faculty': '1', 'professor': '1', 't': '1', '...","['Faculty', 'professor', 't', 'Students', 'gra...","['student', 'University', 'course', 'Faculty',...",0.000000,0.000000,"[Univerity, course]"
28,28,"{'Gallery', 'FooterEntry', 'GalleryContent', '...",web,19,"[GalleryContent, page, Link, SocialBar]",15,"{'SocialInformation', 'ReleaseSection', 'Galle...",server=1\ntextcontent=1\ntextbox=1\ndocument=1...,"{'server': '1', 'textcontent': '1', 'textbox':...","['server', 'textcontent', 'textbox', 'document...","['content', 'social', 'bar', 'gallery', 'text'...",0.200000,0.200000,"[gallery, author, Page, site, content, gallery..."

In [ ]:
df['newDiagram']=df.apply(lambda x: x['partial']+x['selectedConcepts_manually'],axis=1)
df

,Unnamed: 0,sequence,package,number,partial,attempts,GroundTruth,results,maps,suggestions,selectedConcepts,precision_Step=1,recall_Step=1,selectedConcepts_manually,newDiagram
0,0,"{'Office', 'People', 'Contact', 'BookVersion',...",addressbook,7,[Contact],6,"{'People', 'Office', 'Repository', 'Electronic...",Group=1\nCompany=1\nEmail=1\nphone=1\nInternet...,"{'Group': '1', 'Company': '1', 'Email': '1', '...","['Group', 'Company', 'Email', 'phone', 'Intern...","['address', 'book', 'Group', 'Company', 'Email...",0.000000,0.000000,"[addressBook, company]","[Contact, addressBook, company]"
1,1,"{'MobilePhone', 'Phone', 'Account', 'PointOfSa...",bank,27,"[PointOfSale, MobilePhone, BankerTransaction, ...",21,"{'OnlineTransaction', 'Merchant', 'Party', 'De...",Company=1\nAddress=1\nTrainer=1\nStore=1\nSmar...,"{'Company': '1', 'Address': '1', 'Trainer': '1...","['Company', 'Address', 'Trainer', 'Store', 'Sm...","['External', 'ExternalAccount', 'Bank', 'Email...",0.476190,0.476190,"[ExternalAccount, Bank, Email, Product, Card, ...","[PointOfSale, MobilePhone, BankerTransaction, ..."
2,2,"{'PhDThesis', 'Misc', 'Book', 'InCollection', ...",BibTeX,21,"[TechReport, Unpublished, BookTitledEntry, Bib...",16,"{'Booklet', 'BibTeXFile', 'AuthoredEntry', 'Th...",inproceedings=1\nConference=1\nVehicle=1\nThe=...,"{'inproceedings': '1', 'Conference': '1', 'Veh...","['inproceedings', 'Conference', 'Vehicle', 'Th...","['InProceedings', 'InCollection', 'Collection'...",0.312500,0.312500,"[InProceedings, InCollection, MastersThesis, P...","[TechReport, Unpublished, BookTitledEntry, Bib..."
3,3,"{'Chapter', 'Author', 'System', 'Book'}",Books,4,[Author],3,"{'Book', 'Chapter', 'System'}",library=1\nbook=1\ngenre=1\nmember=1\npublisher=1,"{'library': '1', 'book': '1', 'genre': '1', 'm...","['library', 'book', 'genre', 'member', 'publis...","['library', 'book', 'genre']",0.333333,0.333333,[book],"[Author, book]"
4,4,"{'BookStore', 'Book'}",BookStorePackage,2,[],2,"{'Book', 'BookStore','buyer','author'}",library=1\nCustomer=1\npublisher=1\nauthor=2,"{'library': '1', 'Customer': '1', 'publisher':...","['library', 'Customer', 'publisher', 'author']","['author', 'library']",0.500000,0.250000,"[author, library]","[author, library]"
5,5,"{'League', 'Tournament', 'Matchup', 'Alley', '...",bowling,7,[Tournament],6,"{'Lane', 'Player', 'Matchup', 'Alley', 'League...",Tennis=1\nPlayer=1\nGolf=1\nTeam=1,"{'Tennis': '1', 'Player': '1', 'Golf': '1', 'T...","['Tennis', 'Player', 'Golf', 'Team']","['Tennis', 'Player', 'Golf', 'Team']",0.250000,0.166667,[Player],"[Tournament, Player]"
6,6,"{'Calc', 'CalcExpr', 'VarCall', 'Boolean', 'Ca...",calculatrice,8,"[Number, Condition]",6,"{'Calc', 'BoolExpr', 'Boolean', 'Calculatrice'...",for=1\nmontre=1\nwhile=1\nimp=1\nswitch=1\nimp...,"{'for': '1', 'montre': '1', 'while': '1', 'imp...","['for', 'montre', 'while', 'imp', 'switch', 'i...","['atrice', 'ul', 'calc', 'ordinate', 'ur', 'or...",0.166667,0.166667,[calc],"[Number, Condition, calc]"
7,7,"{'Craft', 'Customer', 'VipCustomer', 'Automobi...",CarRentalModel,8,"[VipCustomer, Agency]",6,"{'Motorcycle', 'CarRental', 'Automobile', 'Cra...",Program=1\nLoyaltyProgram=1\nLoyalty=1\nRental...,"{'Program': '1', 'LoyaltyProgram': '1', 'Loyal...","['Program', 'LoyaltyProgram', 'Loyalty', 'Rent...","['Customer', 'Rental', 'Car', 'Model', 'Vip', ...",0.166667,0.166667,"[Customer, Rental, Car]","[VipCustomer, Agency, Customer, Rental, Car]"
8,8,"{'Location', 'Conference', 'Chapter', 'Person'...",conf,16,"[RevisionNote, Person, Chapter, Researcher]",12,"{'Evaluation', 'SteeringComitee', 'System', 'C...",Company=1\nConference=1\npresentation=1\nAssig...,"{'Company': '1', 'Conference': '1', 'presentat...","['Company', 'Conference', 'presentation', 'Ass...","['Revision', 'Note', 'Article', 'Book', 'ee', ...",0.083333,0.083333,"[Revision, Article, Publication]","[RevisionNote, Person, Chapter, Researcher, Re..."
9,9,"{'Contact', 'PhoneNumber', 'UoD', 'Address', '...",contacts,5,[addressbook],4,"{'UoD', 'PhoneNumber', 'Address', 'AddressBook'}",company=1\naddress=2\nperson=2\nbook=2,"{'company': '1', 'address': '2', 'person': '2'...","['company', 'address', 'person', 'book']","['address', 'person', 'book', 'company']",0.250000,0.250000,"[Book, oD, Person, Email]","[addressbook, Book, oD, Person, Email]"
10,10,"{'StudyProgram', 'CourseCoordinator', 'CourseW...",course,16,"[StudyProgram, Person, CourseCoordinator, Time...",12,"{'Evaluation', 'TA', 'CourseWork', 'University...",Semester=1\nLectureHall=1\nteaching=1\nteachin...,"{'Semester': '1', 'LectureHall': '1', 'teachin...","['Semester', 'LectureHall', 'teaching', 'teach...","['Study', 'Program', 'Coordinator', 'student',...",0.333333,0.333333,"[Program, Coordinator, university, Student, Pr...","[StudyProgram, Person, CourseCoordinator, Time..."
11,11,"{'USAddress', 'CanadaAddress', 'CustomersDB', ...",customers,6,"[Customer, CanadaAddress]",4,"{'CreditCard', 'Address', 'USAddress', 'Custom...",Account=1\nBank=1\nMexicoAddress=1\nMexico=1\n...,"{'Account': '1', 'Bank': '1', 'MexicoAddress':...","['Account', 'Bank', 'MexicoAddress', 'Mexico',...","['Canada', 'USA', 'Address', 'USAAddress']",0.250000,0.250000,"[Address, USAAddress]","[Customer, CanadaAddress, Address, USAAddress]"
12,12,"{'Customer', 'Object', 'ProjectRevision', 'Lib...",decobat,11,"[customer, ProjectRevision, Library]",9,"{'LibraryCategory', 'Library', 'Project', 'Pla...",decorate=1\nsub=1\ndec=1\ndirect=1\ndeliver=1\...,"{'decorate': '1', 'sub': '1', 'dec': '1', 'dir...","['decorate', 'sub', 'dec', 'direct', 'deliver'...","['deco', 'project', 'bat', 'revision', 'book',...",0.222222,0.222222,"[Product, Supplier, project, revision, borrower]","[customer, ProjectRevision, Library, Product, ..."
13,13,"{'Chapter', 'BasicEntry', 'FullEntry', 'Sectio...",document,6,[BasicEntry],5,"{'Chapter', 'Table', 'BasicEntry', 'FullEntry'...",account=1\nentry=2\nbasic=2,"{'account': '1', 'entry': '2', 'basic': '2'}","['account', 'entry', 'basic']","['entry', 'basic', 'account']",0.333333,0.200000,[entry],"[BasicEntry, entry]"
14,14,"{'NamedElement', 'ImmovableObject', 'FieldObje...",drones,12,"[ChargeStation, Mission, FieldObject]",9,"{'SizedElement', 'ChargeStation', 'Parameter',...",flight=1\ncity=1\nbattery=1\nelectriccar=1\nho...,"{'flight': '1', 'city': '1', 'battery': '6', '...","['flight', 'city', 'battery', 'electriccar', '...","['object', 'battery', 'station', 'field', 'map...",0.111111,0.111111,"[battery, chargingstation]","[ChargeStation, Mission, FieldObject, battery,..."
15,15,"{'City', 'Service', 'NamedElement', 'Company',...",families,11,"[City, Service]",9,"{'School', 'Parent', 'Company', 'Member', 'Nei...",persons=1\nCompany=1\nFamilyMember=1\nCustomer...,"{'persons': '1', 'Company': '1', 'FamilyMember...","['persons', 'Company', 'FamilyMember', 'Custom...","['Department', 'Family', 'persons', 'Company',...",0.444444,0.444444,"[Position, Zone]","[City, Service, Position, Zone]"
16,16,"{'Person', 'Man', 'Woman', 'Classroom'}",Friends,4,[man],3,"{'Man', 'Woman', 'Person'}",person=1\nwoman=2,"{'person': '1', 'woman': '2'}","['person', 'woman']","['woman', 'person']",1.000000,0.666667,"[person, woman]","[man, person, woman]"
17,17,"{'Tournament', 'QualificationPhase', 'Pool', '...",gametournament,6,[Game],5,"{'Tournament', 'Pool', 'Gamer', 'Qualification...",playertournament=1\nteam=1\ntournament=2\nplay...,"{'playertournament': '1', 'team': '1', 'tourna...","['playertournament', 'team', 'tournament', 'pl...","['tournament', 'player', 'playertournament', '...",0.250000,0.200000,"[tournament, player, playertournament, team]","[Game, tournament, player, playertournament, t..."
18,18,"{'Haircuts', 'Service', 'Customer', 'Appointme...",hairDressersRegSys,12,"[customer, invoice, Service]",9,"{'Products', 'Payment', 'Invoice', 'ServiceEmp...",lineitem=1\nline=1\ninvoiceitem=1\nhair=1\nhai...,"{'lineitem': '1', 'line': '1', 'invoiceitem': ...","['lineitem', 'line', 'invoiceitem', 'hair', 'h...","['reg', 'hairdressers', 'customer', 'product',...",0.111111,0.111111,"[person, invoice, Products, hair, customer]","[customer, invoice, Service, person, invoice, ..."
19,19,"{'Person', 'UoD', 'Loan', 'Library', 'Book'}",library,5,[uod],4,"{'Book', 'UoD', 'Loan', 'Person'}",loan=1\nstudent=2\nbook=2,"{'loan': '1', 'student': '2', 'book': '2'}","['loan', 'student', 'book']","['student', 'book', 'loan']",0.666667,0.500000,"[loan, student, book]","[uod, loan, student, book]"
20,20,"{'CriticsReview', 'Copy', 'CustomerReview', 'P...",movies,6,[MoviesDB],5,"{'MoviesDB', 'CriticsReview', 'CustomerReview'...",Theatre=1\nrestaurants=1\ntheatres=1\nmovie=2\...,"{'Theatre': '1', 'restaurants': '1', 'theatres...","['Theatre', 'restaurants', 'theatres', 'movie'...","['movie', 'Critics', 'Review', 'Theatre', 'res...",0.200000,0.200000,"[movie, Review]","[MoviesDB, movie, Review]"
21,21,"{'Job', 'Person', 'Company'}",PersonCompany,3,[],3,"{'Job', 'Company', 'Person'}",manager=1\nemployee=1\ndepartment=1\ncompany=2,"{'manager': '1', 'employee': '1', 'department'...","['manager', 'employee', 'department', 'company']","['company', 'manager', 'employee']",0.333333,0.333333,"[company, employee]","[company, employee]"
22,22,"{'SupportTicketHandler', 'BookingHandler', 'Su...",RootElement,36,"[HourlyRoomBooking, PaymentHandler, SupportTic...",27,"{'BookingHandler', 'Payment', 'ServiceItemHand...",SupportTicketReader=1\nGuestHandling=1\nOwner=...,"{'SupportTicketReader': '1', 'GuestHandling': ...","['SupportTicketReader', 'GuestHandling', 'Owne...","['Employee', 'RoomType', 'Room', 'System', 'Ha...",0.222222,0.222222,"[Employee, RoomType, Room, System, Daily, Supp...","[HourlyRoomBooking, PaymentHandler, SupportTic..."
23,23,"{'Issue', 'Identifiable', 'Version', 'Member',...",trackit,8,"[Product, IssueTrcker]",6,"{'Team', 'Version', 'IssueTracker', 'Comment',...",project=1\nemployee=1\ninventory=1\nserialno=1...,"{'project': '1', 'employee': '1', 'inventory':...","['project', 'employee', 'inventory', 'serialno...","['issue', 'issuetracker', 'bug', 'customer', '...",0.166667,0.166667,"[issue, Comment, issuetracker, employee]","[Product, IssueTrcker, issue, Comment, issuetr..."
24,24,"{'Journey', 'Train', 'Waggon', 'Reservation', ...",Train,6,[Way],5,"{'Train', 'Reservation', 'Waggon', 'Station', ...",Passenger=1\nWagon=1\nStation=2\nTicket=2\nTra...,"{'Passenger': '1', 'Wagon': '1', 'Station': '2...","['Passenger', 'Wagon', 'Station', 'Ticket', 'T...","['Station', 'Ticket', 'Train', 'Passenger', 'W...",0.400000,0.400000,"[station, ticket, train, wagon]","[Way, station, ticket, train, wagon]"
25,25,"{'Inch', 'Quantity', 'LengthAdd', 'AngleUnit',...",units,41,"[ImperialSystemUnit, QuantityComparisonOperati...",31,"{'LengthSmaller', 'QuantityScalarOperation', '...",Liter=1\nUnitOfMeasurement=1\nBinaryOperation=...,"{'Liter': '1', 'UnitOfMeasurement': '1', 'Bina...","['Liter', 'UnitOfMeasurement', 'BinaryOperatio...","['Volume', 'Meter', 'MetricSystemUnit', 'Metri...",0.225806,0.225806,"[Volume, Meter, MetricSystemUnit, Width, Yard,...","[ImperialSystemUnit, QuantityComparisonOperati..."
26,26,"{'Course', 'University', 'Student'}",university,3,[course],2,"{'Course', 'University', 'Student'}",student=2\ndepartment=2,"{'student': '2', 'department': '2'}","['student', 'department']","['student', 'department']",0.500000,0.333333,"[student, department]","[course, student, department]"
27,27,"{'uCourses', 'uPerson', 'aCourses', 'aUniversi...",uncertainty,8,"[aCourses, uUniversity]",6,"{'uCourses', 'UData', 'aPerson', 'ModelElement...",Faculty=1\nprofessor=1\nt=1\nStudents=1\ngradu...,"{'Faculty': '1', 'professor': '1', 't': '1', '...","['Faculty', 'professor', 't', 'Students', 'gra...","['student', 'University', 'course', 'Faculty',...",0.000000,0.000000,"[Univerity, course]","[aCourses, uUniversity, Univerity, course]"
28,28,"{'Gallery', 'FooterEntry', 'GalleryContent', '...",web,19,"[GalleryContent, page, Link, SocialBar]",15,"{'SocialInformation', 'ReleaseSection', 'Galle...",server=1\ntextcontent=1\ntextbox=1\ndocument=1...,"{'server': '1', 'textcontent': '1', 'textbox':...","['server', 'textcontent', 'textbox', 'document...","['content', 'social', 'bar', 'gallery', 'text'...",0.200000,0.200000,"[gallery, author, Page, site, content, gallery...","[GalleryContent, page, Link, SocialBar, galler..."

In [ ]:
del df['Unnamed: 0']

In [ ]:
df

In [ ]:
#df.to_csv('gdrive/My Drive/NIER-ICSE/data/test/Results@K=1_beforePrediction.csv')

In [ ]:
df.rename(columns = {'selectedConcepts' : 'Step=1_selectedAutomatically', 'selectedConcepts_manually' : 'Step=1_selectedManually'}, inplace = True)

In [ ]:
df.columns

Index(['sequence', 'package', 'number', 'partial', 'attempts', 'GroundTruth',
       'results', 'maps', 'suggestions', 'Step=1_selectedAutomatically',
       'precision_Step=1', 'recall_Step=1', 'Step=1_selectedManually',
       'newDiagram', 'attemptsK=2'],
      dtype='object')

##Results k=2

In [ ]:
df=pd.read_csv('gdrive/My Drive/NIER-ICSE/data/test/Results@K=1_beforePrediction.csv')
del  df['Unnamed: 0']
df.columns

Index(['sequence', 'package', 'number', 'partial', 'attempts', 'GroundTruth',
       'results', 'maps', 'suggestions', 'Step=1_selectedAutomatically',
       'precision_Step=1', 'recall_Step=1', 'Step=1_selectedManually',
       'newDiagram', 'attemptsK=2'],
      dtype='object')

In [ ]:
#df['starterPoint']=df.apply(lambda x : eval(x['partial'])+ [x['package']],axis=1)

In [ ]:
df.fillna(" = ",inplace=True)

In [ ]:
df['maps_k=2']=df['k=2'].apply(lambda x: createHashtag(x))

In [ ]:
def newAttempts(acceptedConcepts,attempts):
  return attempts- len(acceptedConcepts)

In [ ]:
df['attemptsK=2']=df.apply(lambda x: newAttempts(eval(x['Step=1_selectedManually']),x['attempts'] ),axis=1)

#clean

In [ ]:
df=pd.read_csv('gdrive/My Drive/NIER-ICSE/data/test/Results_K=1_K=2_fmanualDone.csv') 
del df['Unnamed: 0']
df=df[:29]

In [ ]:
df

,sequence,package,number,partial,attempts,GroundTruth,results,maps,suggestions,Step=1_selectedAutomatically,precision_Step=1,recall_Step=1,Step=1_selectedManually,newDiagram,attemptsK=2,precision_Step=1_auto,recall_Step=1_auto,precision_Step=1_manually,recall_Step=1_manually
0,"{'Office', 'People', 'Contact', 'BookVersion',...",addressbook,7,['Contact'],6,"[electronic, office, repository, bookversion, ...",Group=1\nCompany=1\nEmail=1\nphone=1\nInternet...,"{'Group': '1', 'Company': '1', 'Email': '1', '...","['Group', 'Company', 'Email', 'phone', 'Intern...","['address', 'book', 'Group', 'Company', 'Email...",0.000000,0.000000,"['addressBook', 'company']","['Contact', 'addressBook', 'company']",4,0.000000,0.000000,0.500000,0.166667
1,"{'MobilePhone', 'Phone', 'Account', 'PointOfSa...",bank,27,"['PointOfSale', 'MobilePhone', 'BankerTransact...",21,"[statement, webaddress, party, tokentransactio...",Company=1\nAddress=1\nTrainer=1\nStore=1\nSmar...,"{'Company': '1', 'Address': '1', 'Trainer': '1...","['Company', 'Address', 'Trainer', 'Store', 'Sm...","['External', 'ExternalAccount', 'Bank', 'Email...",0.476190,0.476190,"['ExternalAccount', 'Bank', 'Email', 'Product'...","['PointOfSale', 'MobilePhone', 'BankerTransact...",9,0.476190,0.476190,0.833333,0.476190
2,"{'PhDThesis', 'Misc', 'Book', 'InCollection', ...",BibTeX,21,"['TechReport', 'Unpublished', 'BookTitledEntry...",16,"[article, inbook, bibtexfile, authoredentry, p...",inproceedings=1\nConference=1\nVehicle=1\nThe=...,"{'inproceedings': '1', 'Conference': '1', 'Veh...","['inproceedings', 'Conference', 'Vehicle', 'Th...","['InProceedings', 'InCollection', 'Collection'...",0.312500,0.312500,"['InProceedings', 'InCollection', 'MastersThes...","['TechReport', 'Unpublished', 'BookTitledEntry...",8,0.312500,0.312500,0.500000,0.250000
3,"{'Chapter', 'Author', 'System', 'Book'}",Books,4,['Author'],3,"[chapter, book, system]",library=1\nbook=1\ngenre=1\nmember=1\npublisher=1,"{'library': '1', 'book': '1', 'genre': '1', 'm...","['library', 'book', 'genre', 'member', 'publis...","['library', 'book', 'genre']",0.333333,0.333333,['book'],"['Author', 'book']",2,0.333333,0.333333,1.000000,0.333333
4,"{'BookStore', 'Book'}",BookStorePackage,2,[],2,"[bookstore, buyer, book, author]",library=1\nCustomer=1\npublisher=1\nauthor=2,"{'library': '1', 'Customer': '1', 'publisher':...","['library', 'Customer', 'publisher', 'author']","['author', 'library']",0.500000,0.250000,"['author', 'library']","['author', 'library']",0,0.500000,0.250000,0.500000,0.250000
5,"{'League', 'Tournament', 'Matchup', 'Alley', '...",bowling,7,['Tournament'],6,"[matchup, league, alley, player, game, lane]",Tennis=1\nPlayer=1\nGolf=1\nTeam=1,"{'Tennis': '1', 'Player': '1', 'Golf': '1', 'T...","['Tennis', 'Player', 'Golf', 'Team']","['Tennis', 'Player', 'Golf', 'Team']",0.250000,0.166667,['Player'],"['Tournament', 'Player']",5,0.250000,0.166667,1.000000,0.166667
6,"{'Calc', 'CalcExpr', 'VarCall', 'Boolean', 'Ca...",calculatrice,8,"['Number', 'Condition']",6,"[varcall, boolean, calc, calculatrice, calcexp...",for=1\nmontre=1\nwhile=1\nimp=1\nswitch=1\nimp...,"{'for': '1', 'montre': '1', 'while': '1', 'imp...","['for', 'montre', 'while', 'imp', 'switch', 'i...","['atrice', 'ul', 'calc', 'ordinate', 'ur', 'or...",0.166667,0.166667,['calc'],"['Number', 'Condition', 'calc']",5,0.166667,0.166667,1.000000,0.166667
7,"{'Craft', 'Customer', 'VipCustomer', 'Automobi...",CarRentalModel,8,"['VipCustomer', 'Agency']",6,"[carrental, customer, automobile, motorcycle, ...",Program=1\nLoyaltyProgram=1\nLoyalty=1\nRental...,"{'Program': '1', 'LoyaltyProgram': '1', 'Loyal...","['Program', 'LoyaltyProgram', 'Loyalty', 'Rent...","['Customer', 'Rental', 'Car', 'Model', 'Vip', ...",0.166667,0.166667,"['Customer', 'Rental', 'Car']","['VipCustomer', 'Agency', 'Customer', 'Rental'...",3,0.166667,0.166667,0.333333,0.166667
8,"{'Location', 'Conference', 'Chapter', 'Person'...",conf,16,"['RevisionNote', 'Person', 'Chapter', 'Researc...",12,"[steeringcomitee, publication, programcomitee,...",Company=1\nConference=1\npresentation=1\nAssig...,"{'Company': '1', 'Conference': '1', 'presentat...","['Company', 'Conference', 'presentation', 'Ass...","['Revision', 'Note', 'Article', 'Book', 'ee', ...",0.083333,0.083333,"['Revision', 'Article', 'Publication']","['RevisionNote', 'Person', 'Chapter', 'Researc...",9,0.083333,0.083333,0.333333,0.083333
9,"{'Contact', 'PhoneNumber', 'UoD', 'Address', '...",contacts,5,['addressbook'],4,"[addressbook, phonenumber, uod, address]",company=1\naddress=2\nperson=2\nbook=2,"{'company': '1', 'address': '2', 'person': '2'...","['company', 'address', 'person', 'book']","['address', 'person', 'book', 'company']",0.250000,0.250000,"['Book', 'oD', 'Person', 'Email']","['addressbook', 'Book', 'oD', 'Person', 'Email']",0,0.250000,0.250000,0.000000,0.000000
10,"{'StudyProgram', 'CourseCoordinator', 'CourseW...",course,16,"['StudyProgram', 'Person', 'CourseCoordinator'...",12,"[student, timetableentry, ta, courseinstance, ...",Semester=1\nLectureHall=1\nteaching=1\nteachin...,"{'Semester': '1', 'LectureHall': '1', 'teachin...","['Semester', 'LectureHall', 'teaching', 'teach...","['Study', 'Program', 'Coordinator', 'student',...",0.333333,0.333333,"['Program', 'Coordinator', 'university', 'Stud...","['StudyProgram', 'Person', 'CourseCoordinator'...",4,0.333333,0.333333,0.375000,0.250000
11,"{'USAddress', 'CanadaAddress', 'CustomersDB', ...",customers,6,"['Customer', 'CanadaAddress']",4,"[customersdb, usaddress, address, creditcard]",Account=1\nBank=1\nMexicoAddress=1\nMexico=1\n...,"{'Account': '1', 'Bank': '1', 'MexicoAddress':...","['Account', 'Bank', 'MexicoAddress', 'Mexico',...","['Canada', 'USA', 'Address', 'USAAddress']",0.250000,0.250000,"['Address', 'USAAddress']","['Customer', 'CanadaAddress', 'Address', 'USAA...",2,0.250000,0.250000,0.500000,0.250000
12,"{'Customer', 'Object', 'ProjectRevision', 'Lib...",decobat,11,"['customer', 'ProjectRevision', 'Library']",9,"[supplier, plan, product, projectcategory, cus...",decorate=1\nsub=1\ndec=1\ndirect=1\ndeliver=1\...,"{'decorate': '1', 'sub': '1', 'dec': '1', 'dir...","['decorate', 'sub', 'dec', 'direct', 'deliver'...","['deco', 'project', 'bat', 'revision', 'book',...",0.222222,0.222222,"['Product', 'Supplier', 'project', 'revision',...","['customer', 'ProjectRevision', 'Library', 'Pr...",4,0.222222,0.222222,0.600000,0.333333
13,"{'Chapter', 'BasicEntry', 'FullEntry', 'Sectio...",document,6,['BasicEntry'],5,"[table, entry, chapter, fullentry, basicentry]",account=1\nentry=2\nbasic=2,"{'account': '1', 'entry': '2', 'basic': '2'}","['account', 'entry', 'basic']","['entry', 'basic', 'account']",0.333333,0.200000,['entry'],"['BasicEntry', 'entry']",4,0.333333,0.200000,1.000000,0.200000
14,"{'NamedElement', 'ImmovableObject', 'FieldObje...",drones,12,"['ChargeStation', 'Mission', 'FieldObject']",9,"[movableobject, battery, immovableobject, acti...",flight=1\ncity=1\nbattery=1\nelectriccar=1\nho...,"{'flight': '1', 'city': '1', 'battery': '6', '...","['flight', 'city', 'battery', 'electriccar', '...","['object', 'battery', 'station', 'field', 'map...",0.111111,0.111111,"['battery', 'chargingstation']","['ChargeStation', 'Mission', 'FieldObject', 'b...",7,0.111111,0.111111,0.500000,0.111111
15,"{'City', 'Service', 'NamedElement', 'Company',...",families,11,"['City', 'Service']",9,"[country, neighborhood, namedelement, member, ...",persons=1\nCompany=1\nFamilyMember=1\nCustomer...,"{'persons': '1', 'Company': '1', 'FamilyMember...","['persons', 'Company', 'FamilyMember', 'Custom...","['Department', 'Family', 'persons', 'Company',...",0.444444,0.444444,"['Position', 'Zone']","['City', 'Service', 'Position', 'Zone']",7,0.444444,0.444444,0.000000,0.000000
16,"{'Person', 'Man', 'Woman', 'Classroom'}",Friends,4,['man'],3,"[man, person, woman]",person=1\nwoman=2,"{'person': '1', 'woman': '2'}","['person', 'woman']","['woman', 'person']",1.000000,0.666667,"['person', 'woman']","['man', 'person', 'woman']",1,1.000000,0.666667,1.000000,0.666667
17,"{'Tournament', 'QualificationPhase', 'Pool', '...",gametournament,6,['Game'],5,"[qualificationphase, pool, tournament, gamer, ...",playertournament=1\nteam=1\ntournament=2\nplay...,"{'playertournament': '1', 'team': '1', 'tourna...","['playertournament', 'team', 'tournament', 'pl...","['tournament', 'player', 'playertournament', '...",0.250000,0.200000,"['tournament', 'player', 'playertournament', '...","['Game', 'tournament', 'player', 'playertourna...",1,0.250000,0.200000,0.250000,0.200000
18,"{'Haircuts', 'Service', 'Customer', 'Appointme...",hairDressersRegSys,12,"['customer', 'invoice', 'Service']",9,"[products, serviceemployee, appointment, other...",lineitem=1\nline=1\ninvoiceitem=1\nhair=1\nhai...,"{'lineitem': '1', 'line': '1', 'invoiceitem': ...","['lineitem', 'line', 'invoiceitem', 'hair', 'h...","['reg', 'hairdressers', 'customer', 'product',...",0.111111,0.111111,"['person', 'invoice', 'Products', 'hair', 'cus...","['customer', 'invoice', 'Service', 'person', '...",4,0.111111,0.111111,0.600000,0.333333
19,"{'Person', 'UoD', 'Loan', 'Library', 'Book'}",library,5,['uod'],4,"[person, loan, book, uod]",loan=1\nstudent=2\nbook=2,"{'loan': '1', 'student': '2', 'book': '2'}","['loan', 'student', 'book']","['student', 'book', 'loan']",0.666667,0.500000,"['loan', 'student', 'book']","['uod', 'loan', 'student', 'book']",1,0.666667,0.500000,0.666667,0.500000
20,"{'CriticsReview', 'Copy', 'CustomerReview', 'P...",movies,6,['MoviesDB'],5,"[criticsreview, moviesdb, movie, customerrevie...",Theatre=1\nrestaurants=1\ntheatres=1\nmovie=2\...,"{'Theatre': '1', 'restaurants': '1', 'theatres...","['Theatre', 'restaurants', 'theatres', 'movie'...","['movie', 'Critics', 'Review', 'Theatre', 'res...",0.200000,0.200000,"['movie', 'Review']","['MoviesDB', 'movie', 'Review']",3,0.200000,0.200000,0.500000,0.200000
21,"{'Job', 'Person', 'Company'}",PersonCompany,3,[],3,"[job, person, company]",manager=1\nemployee=1\ndepartment=1\ncompany=2,"{'manager': '1', 'employee': '1', 'department'...","['manager', 'employee', 'department', 'company']","['company', 'manager', 'employee']",0.333333,0.333333,"['company', 'employee']","['company', 'employee']",1,0.333333,0.333333,0.500000,0.333333
22,"{'SupportTicketHandler', 'BookingHandler', 'Su...",RootElement,36,"['HourlyRoomBooking', 'PaymentHandler', 'Suppo...",27,"[receptionhandling, dailyroombooking, hotelsys...",SupportTicketReader=1\nGuestHandling=1\nOwner=...,"{'SupportTicketReader': '1', 'GuestHandling': ...","['SupportTicketReader', 'GuestHandling', 'Owne...","['Employee', 'RoomType', 'Room', 'System', 'Ha...",0.222222,0.222222,"['Employee', 'RoomType', 'Room', 'System', 'Da...","['HourlyRoomBooking', 'PaymentHandler', 'Suppo...",12,0.222222,0.222222,0.333333,0.185185
23,"{'Issue', 'Identifiable', 'Version', 'Member',...",trackit,8,"['Product', 'IssueTrcker']",6,"[comment, identifiable, member, team, issuetra...",project=1\nemployee=1\ninventory=1\nserialno=1...,"{'project': '1', 'employee': '1', 'inventory':...","['project', 'employee', 'inventory', 'serialno...","['issue', 'issuetracker', 'bug', 'customer', '...",0.166667,0.166667,"['issue', 'Comment', 'issuetracker', 'employee']","['Product', 'IssueTrcker', 'issue', 'Comment',...",2,0.166667,0.166667,0.500000,0.333333
24,"{'Journey', 'Train', 'Waggon', 'Reservation', ...",Train,6,['Way'],5,"[reservation, waggon, journey, train, station]",Passenger=1\nWagon=1\nStation=2\nTicket=2\nTra...,"{'Passenger': '1', 'Wagon': '1', 'Station': '2...","['Passenger', 'Wagon', 'Station', 'Ticket', 'T...","['Station', 'Ticket', 'Train', 'Passenger', 'W...",0.400000,0.400000,"['station', 'ticket', 'train', 'wagon']","['Way', 'station', 'ticket', 'train', 'wagon']",1,0.400000,0.400000,0.500000,0.400000
25,"{'Inch', 'Quantity', 'LengthAdd', 'AngleUnit',...",units,41,"['ImperialSystemUnit', 'QuantityComparisonOper...",31,"[radian, lengthscalardivide, anglesubtract, fo...",Liter=1\nUnitOfMeasurement=1\nBinaryOperation=...,"{'Liter': '1', 'UnitOfMeasurement': '1', 'Bina...","['Liter', 'UnitOfMeasurement', 'BinaryOperatio...","['Volume', 'Meter', 'MetricSystemUnit', 'Metri...",0.225806,0.225806,"['Volume', 'Meter', 'MetricSystemUnit', 'Width...","['ImperialSystemUnit', 'QuantityComparisonOper...",16,0.225806,0.225806,0.466667,0.225806
26,"{'Course', 'University', 'Student'}",university,3,['course'],2,"[university, student, course]",student=2\ndepartment=2,"{'student': '2', 'department': '2'}","['student', 'department']","['student', 'department']",0.500000,0.333333,"['student', 'department']","['course', 'student', 'department']",0,0.500000,0.333333,0.500000,0.333333
27,"{'uCourses', 'uPerson', 'aCourses', 'aUniversi...",uncertainty,8,"['aCourses', 'uUniversity']",6,"[uperson, aperson, auniversity, ucourses, mode...",Faculty=1\nprofessor=1\nt=1\nStudents=1\ngradu...,"{'Faculty': '1', 'professor': '1', 't': '1', '...","['Faculty', 'professor', 't', 'Students', 'gra...","['student', 'University', 'course', 'Faculty',...",0.000000,0.000000,"['Univerity', 'course']","['aCourses', 'uUniversity', 'Univerity', 'cour...",4,0.000000,0.000000,0.000000,0.000000
28,"{'Gallery', 'FooterEntry', 'GalleryContent', '...",web,19,"['GalleryContent', 'page', 'Link', 'SocialBar']",15,"[socialinformation, footerentry, htmlcontent, ...",server=1\ntextcontent=1\ntextbox=1\ndocument=1...,"{'server': '1', 'textcontent': '1', 'textbox':...","['server', 'textcontent', 'textbox', 'document...","['content', 'social', 'bar', 'gallery', 'text'...",0.200000,0.200000,"['gallery', 'author', 'Page', 'site', 'content...","['GalleryContent', 'page', 'Link', 'SocialBar'...",8,0.200000,0.200000,0.857143,0.400000

In [ ]:
df.columns

Index(['sequence', 'package', 'number', 'partial', 'attempts', 'GroundTruth',
       'results', 'maps', 'suggestions', 'Step=1_selectedAutomatically',
       'Step=1_selectedManually', 'newDiagram', 'attemptsK=2',
       'precision_Step=1_auto', 'recall_Step=1_auto',
       'precision_Step=1_manually', 'recall_Step=1_manually', 'GroundTruth2',
       'Step2-starterPoint', 'suggestions_k=2',
       'selectedConcepts_Step=2_automatic',
       'newDiagram_Step=2_automaticSelection', 'precision_Step=2_automatic',
       'recall_Step=2_auto'],
      dtype='object')

In [ ]:
df['newDiagram_Step=2_automaticSelection']=df.apply(lambda x: eval(x['Step=1_selectedManually'])+eval(x['selectedConcepts_Step=2_automatic']),axis=1)

In [ ]:
df['GroundTruth']=df['GroundTruth'].apply(lambda x : ToLower(x))

In [ ]:
df['precision_Step=1_auto']=df.apply(lambda x: precision(eval(x['Step=1_selectedAutomatically']),(x['GroundTruth']) ),axis=1)

In [ ]:
df['recall_Step=1_auto']=df.apply(lambda x: Recall(eval(x['Step=1_selectedAutomatically']),x['GroundTruth'] ),axis=1)

In [ ]:
df['precision_Step=1_manually']=df.apply(lambda x: precision((eval(x['Step=1_selectedManually'])),(x['GroundTruth']) ),axis=1)

In [ ]:
df['recall_Step=1_manually']=df.apply(lambda x: Recall(eval(x['Step=1_selectedManually']),x['GroundTruth'] ),axis=1)

In [ ]:
df=pd.read_csv('gdrive/My Drive/NIER-ICSE/data/test/Results_K=1_manual.csv')

In [ ]:
#df['selectedConcepts_manually']=df['selectedConcepts_manually'].apply(lambda x : ToLower(x))

In [ ]:
#df['selectedConcepts_K=2_automatic']=df.apply(lambda x: selectedConcepts(x['maps_k=2'],x['attemptsK=2'] ),axis=1)

In [ ]:
df=pd.read_csv("gdrive/My Drive/NIER-ICSE/data/test/Results_K=1_2.csv")
df

In [ ]:
df['precision_Step=2_automatic']=df.apply(lambda x: precision((eval((x['newDiagram_Step=2_automaticSelection']))),(x['GroundTruth']) ),axis=1)

In [ ]:
df['recall_Step=2_auto']=df.apply(lambda x: Recall(((eval(x['newDiagram_Step=2_automaticSelection']))),(x['GroundTruth']) ),axis=1)

In [ ]:
#df['Step=2_selectedManually'][28] ="['container','page','version','image','entry']"

In [ ]:
df['newDiagram_step2=2_manualSelection']=df.apply(lambda x :  eval(x['Step=2_selectedManually'])+eval(x['Step=1_selectedManually']),axis=1)

In [ ]:
df['precision_Step=2_manually']=df.apply(lambda x: precision((x['newDiagram_step2=2_manualSelection']),(x['GroundTruth']) ),axis=1)

In [ ]:
df['recall_Step=2_manually']=df.apply(lambda x: Recall((x['newDiagram_step2=2_manualSelection']),(x['GroundTruth']) ),axis=1)

In [ ]:
df[['precision_Step=1_auto','recall_Step=1_auto','precision_Step=1_manually','recall_Step=1_manually','precision_Step=2_automatic','recall_Step=2_auto','precision_Step=2_manually']]

,precision_Step=1_auto,recall_Step=1_auto,precision_Step=1_manually,recall_Step=1_manually,precision_Step=2_automatic,recall_Step=2_auto,precision_Step=2_manually
0,0.000000,0.000000,0.500000,0.166667,0.166667,0.166667,0.250000
1,0.476190,0.476190,0.833333,0.476190,0.476190,0.476190,0.833333
2,0.312500,0.312500,0.500000,0.250000,0.500000,0.500000,0.714286
3,0.333333,0.333333,1.000000,0.333333,0.333333,0.333333,1.000000
4,0.500000,0.250000,0.500000,0.250000,0.500000,0.250000,0.666667
5,0.250000,0.166667,1.000000,0.166667,0.333333,0.333333,0.666667
6,0.166667,0.166667,1.000000,0.166667,0.166667,0.166667,0.500000
7,0.166667,0.166667,0.333333,0.166667,0.166667,0.166667,0.200000
8,0.083333,0.083333,0.333333,0.083333,0.166667,0.166667,0.444444
9,0.250000,0.250000,0.000000,0.000000,0.000000,0.000000,0.142857
10,0.333333,0.333333,0.375000,0.250000,0.333333,0.333333,0.400000
11,0.250000,0.250000,0.500000,0.250000,0.250000,0.250000,0.500000
12,0.222222,0.222222,0.600000,0.333333,0.000000,0.000000,0.375000
13,0.333333,0.200000,1.000000,0.200000,0.000000,0.000000,0.333333
14,0.111111,0.111111,0.500000,0.111111,0.000000,0.000000,0.250000
15,0.444444,0.444444,0.444444,0.444444,0.333333,0.333333,0.428571
16,1.000000,0.666667,1.000000,0.666667,0.000000,0.000000,1.000000
17,0.250000,0.200000,0.250000,0.200000,0.200000,0.200000,0.166667
18,0.111111,0.111111,0.600000,0.333333,0.111111,0.111111,0.500000
19,0.666667,0.500000,0.666667,0.500000,0.250000,0.250000,0.800000
20,0.200000,0.200000,0.500000,0.200000,0.000000,0.000000,0.333333
21,0.333333,0.333333,0.500000,0.333333,0.333333,0.333333,0.500000
22,0.222222,0.222222,0.333333,0.185185,0.296296,0.296296,0.482759
23,0.166667,0.166667,0.500000,0.333333,0.000000,0.000000,0.400000
24,0.400000,0.400000,0.500000,0.400000,0.400000,0.400000,0.500000
25,0.225806,0.225806,0.466667,0.225806,0.225806,0.225806,0.560000
26,0.500000,0.333333,0.500000,0.333333,0.500000,0.333333,0.750000
27,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,0.200000,0.200000,0.857143,NaN,0.000000,0.000000,0.833333

In [ ]:
df['Step2-starterPoint']=df.apply(lambda x : eval(x['starterPoint'])+ eval(x['Step=1_selectedManually']),axis=1)

In [ ]:
df.to_csv("gdrive/My Drive/NIER-ICSE/data/test/finalResultsUpdated.csv")

In [ ]:
def ToLower(l): 
  l=eval(l)
  new=[]
  for i in (l): 
    
    new.append(i.lower())
  return new

In [ ]:
df['GroundTruth2'].to_csv("gdrive/My Drive/NIER-ICSE/data/test/temp.csv")

### Not yet